modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev-server"

[[workflows.workflow]]
name = "dev-server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpnYnNxZXhhZHN1YXZub3pjYXR6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODY0OTU3MCwiZXhwIjoyMDg0MjI1NTcwfQ.WQkXfygNwOKLnNFUbyZwn7BLYjlRzielD_WnkcY5hcs"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpnYnNxZXhhZHN1YXZub3pjYXR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg2NDk1NzAsImV4cCI6MjA4NDIyNTU3MH0.wmy-pR2Tp83ogy3ULZdEkT9kWBND2qu3NMM4b7ChYdA"
NEXT_PUBLIC_SUPABASE_URL = "https://jgbsqexadsuavnozcatz.supabase.co"
